_ _
{%- set to_remind = basics.get('erinnern', []) %}
───── **{{basics.get('titel', 'Es')}}** ─────
geht los!

_Am {{ basics['w:datum'] }}, um {{ basics['uhr'] }} Uhr_

{% for emoji, users in reactions.items() -%}
{%- if emoji in to_remind -%}
Für  {{ emoji }} haben ({{ users | length}}) gestimmt: {{ users | join(', ') }}
{% endif -%}
{% endfor %}
_ _
